.header {
    max-width: 1440px;
    margin-inline: auto;
}

.header-nav-container {
    padding: 1rem .5rem;
    max-width: 1200px;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-nav-logo {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-nav-logo h1 {
    font-size: 1.5rem;
}

.header-nav-logo-hamburger {
    cursor: pointer;
}

.header-nav-logo-hamburger .active .bar:nth-child(2) {
    opacity: 0;
}

.header-nav-logo-hamburger .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.header-nav-logo-hamburger .active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.header-nav-logo-hamburger-bar {
    background-color: #333639;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}

.header-nav-links {
    width: 100%;
}

.header-nav-links-ul {
    transition: 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: .5rem;
    font-family: 'Inter', sans-serif;
}

.header-nav-links-ul li {
    padding: .2rem 0;
    transition: 0.3s ease-in-out;
    display: inline-block;
    margin-inline: .5rem;
}

.header-nav-links-ul li:hover {
    transition: 0.3s ease-in-out;
    transform: scale(0.95);
}

.header-nav-links-ul li img {
    height: 1rem;
}

.header-nav-links-ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: #333639;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding: .3rem .5rem;
}

.header-nav-links-ul li a:hover {
    /* color: hsl(52, 100%, 40%); */
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.header-nav-links-ul li a.active {
    background-color: #FFDD00;
    color: black;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
    .header-nav-links {
        padding-left: .5rem;
        background-color: white;
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        padding-bottom: .5rem;
    }
    .header-nav-links.active {
        left: 0;
    }
}

@media (min-width: 768px) {
    .header-nav-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: .2rem;
        padding-right: .2rem;
    }
    .header-nav-logo {
        width: auto;
    }
    .header-nav-logo-hamburger {
        display: none;
    }
    .header-nav-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
    }
    .header-nav-links-ul {
        padding-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .header-nav-links-ul li {
        padding: 0;
    }
    #hamburger {
        display: none;
    }
}

.none {
    display: none;
}