.register {
    min-height: calc(100vh - 58px);
    max-width: 1440px;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.register-form {
    border-radius: .3rem;
    width: 95%;
    max-width: 800px;
    -webkit-box-shadow: 0 0 1rem 0.2rem #e6e6e6;
    box-shadow: 0 0 1rem 0.2rem #e6e6e6;
}

.register-form-login {
    color: #1B2024;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-align: center;
    background-color: #FFDD00;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.register-form-login-title h1 {
    font-size: 2rem;
}

.register-form-login-dont {
    padding-top: 1rem;
}

.register-form-login-dont p {
    font-size: 1rem;
}

.register-form-login-button {
    padding-top: 1rem;
}

.register-form-login-button a {
    background-color: transparent;
    border: 2px solid #1B2024;
    border-radius: 1rem;
    color: #1B2024;
    padding: .3rem .7rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.register-form-login-button a:hover {
    background-color: #1B2024;
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.register-form-form {
    padding: 1rem;
    color: #1B2024;
}

.register-form-form-username,
.register-form-form-email,
.register-form-form-password {
    padding-top: .5rem;
}

.register-form-form-username input,
.register-form-form-email input,
.register-form-form-password input {
    padding-left: .5rem;
    width: 100%;
    height: 2.5rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.register-form-form-username input:focus,
.register-form-form-email input:focus,
.register-form-form-password input:focus {
    outline: none;
    border: 2px solid #ffdd00;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.register-form-form-title {
    padding: 1.5rem 0;
}

.register-form-form-title h1 {
    font-weight: 400;
    font-size: 1.5rem;
}

.register-form-form-role {
    padding-top: .5rem;
}

.register-form-form-role-title {
    padding-left: .3rem;
    font-size: .9rem;
}

.register-form-form-role-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: .3rem;
    padding-left: .7rem;
}

.register-form-form-role-user,
.register-form-form-role-mover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.register-form-form-role-user p,
.register-form-form-role-mover p {
    padding-left: .2rem;
    font-size: .7rem;
    font-weight: 700;
}

.register-form-form-role-mover {
    padding-left: 1rem;
}

.register-form-form-register {
    padding-top: 1.5rem;
}

.register-form-form-register button {
    background-color: #FFDD00;
    border: 1px solid #FFDD00;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.register-form-form-register button:hover {
    background-color: #ffe01a;
    border: 1px solid #ffe01a;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .register-form {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 400px;
        grid-template-rows: 450px;
    }
    .register-form-login {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        height: 100%;
        border-top-right-radius: .3rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: .3rem;
    }
}