/* .container{
    height: 100vh;
   
}
.row-title{
    margin-top: 20px;
    margin-bottom: 30px;
}
.row_temp{
    display: flex;
    justify-content: space-between;
  
}
.text_col{
    max-width: 55%;
    margin-right: 15%;
}
.title_col{
    max-width: 10%;
} */
