.row1 .col2 img{
   
    width: 50vw;
    max-height: 350px;
    /* object-fit: cover; */
}


.cities {
    float: right;
    margin-bottom: 30px;
}
.cities label{
    padding-right: 5px;
}
.cities select{
    
    padding: 2px;
    border: solid #FFDD00;
    border-radius: 2pc;
    background-color: transparent;
    outline: #FFDD00;
   
    
}


.button {
    /* padding-top: 1rem; */
    background-color: #FFDD00;
    border-radius: 1rem;
    padding: .4rem .0rem;
   
    
   
}

.button a {
    background-color: transparent;
    
    border-radius: 1rem;
    color: #1B2024;
    padding: .3rem .7rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.button a:hover {
    background-color: #1B2024;
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.more{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 912px) {
  
 .row1 .col2 img{
   
    width: 100vw;
    max-height: 350px;
}

}
