@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none !important;
}

.navbar {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #FFDD00 !important;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #FFDD00;
}

.navbar a:hover {
    color: #FFDD00 !important;
}

@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.5rem !important;
    }
    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}


/* ==========================================================================
#Main Landing Section
========================================================================== */

#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#header .brand-name {
    color: #FFDD00;
}

#header h2 {
    color: #484848;
    font-size: 24px;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #FFDD00;
    border: 2px solid #FFDD00;
    text-decoration: none;
}

#header .btn-get-started:hover {
    background: #FFDD00;
    color: #fff;
}

.header-img {
    text-align: right;
}


/* #header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* ////////Contact ////////////
 */

.contact_div {
    width: 100%;
    height: 75vh;
    /* float: right; */
    position: absolute;
    top: 70px;
    left: 300px;
}


/* /// footer///////////////////// */

footer p {
    padding: 0;
    margin: 0;
}


/* responsive code */

@media (max-width: 991px) {
    #header {
        height: 80vh;
        text-align: center;
    }
    #header .header-img {
        text-align: center;
    }
    #header .header-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #header {
        margin-top: 20px;
    }
    #header h1 {
        font-size: 28px;
    }
    #header h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    #header .header-img img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    #procedure {
        margin-top: 20px;
    }
}

.cards {
    display: flex;
    /* height: 150px; */
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 20px;
}

.imgg {
    height: 120px;
    width: 120px;
    /* position: relative; */
    /* left: 35%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;
}

.card-text {
    text-align: center
}

.imgrc {
    width: 1000px;
    height: 300px;
}

#barsize {
    width: 1000px;
}

#barcontent {
    background-color: #FFDD00;
    height: 200px;
}

.yeartext {
    display: flex;
}

.yeartext p {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 900;
}

.yeartext h1 {
    /* font-size: 20px; */
    padding-right: 50px;
    margin-top: 20px
}

.yeartext span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* padding: 5px; */
    font-weight: 900;
}

.my-3 {
    color: black !important;
    font-weight: 900;
}

.cards2 {
    display: flex;
    /* height: 150px; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.cardm {
    margin: 7px;
}

.cards2 p {
    padding: 20px;
    position: absolute;
    top: 210px;
    border-radius: 20% 10%;
    color: #000;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.barcontent2 {
    background-color: #FFDD00 !important;
    height: 300px;
    width: 450px;
}

.yeartext2 {
    text-align: left;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 30px;
    /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px; */
}

.cardsize {
    height: 500px;
}

.imgg2 {
    height: 220px;
    width: 220px;
    /* position: relative; */
    /* left: 35%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px;
    object-fit: cover;
}

.radius {
    border-radius: 7%;
}

.ezee {
    font-weight: 600;
    position: relative;
    top: -20px;
}

.imgdown {
    position: relative;
    top: -30px;
}

#barsize2 {
    width: 600px;
}

#rectangle {
    background-color: #FFDD00;
    padding: 60px;
    display: block !important;
}

.yeartext2 p {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 900;
}

.yeartext2 h1 {
    padding-right: 50px;
    margin-top: 20px;
    left: -110px;
}

.yeartext2 .clientssay {
    position: relative;
    left: -90px;
    font-size: 30px;
    font-weight: 900;
}

.yeartext2 span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* padding: 5px; */
    font-weight: 900;
    font-size: 15px;
    position: relative;
    top: -50px;
    left: -90px;
}

.cardsclients {
    position: absolute;
    top: 0;
}

.card4 {
    margin: 5px;
    /* padding-bottom: 50px; */
    position: relative;
    left: 200px;
    top: 30px;
}

.card4 .longtext {
    font-size: 15px;
    padding: 10px;
}

.imggdp {
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
}

.dpbody {
    position: relative;
    top: -60px;
}

.namebold {
    position: absolute;
    top: 60px;
    left: 83px;
}

.pcompanies {
    text-decoration: underline #FFDD00 6px;
}

.testimonials {
    text-decoration: underline #fff 6px;
}

.foot {
    background-color: #14212A !important;
    padding: 10px;
    position: relative;
    /* z-index: 3; */
    color: #fff;
}

.foot p {
    padding-top: 40px;
}

.foot::before {
    content: '';
    width: 60%;
    border-bottom: solid 1px #37424A;
    position: absolute;
    left: 14%;
    top: 5;
    z-index: 1;
}

.imgg3 {
    height: 220px;
    width: 220px;
    position: relative;
    /* left: 35%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 60px;
    top: -20%;
}

#profile {
    /* border-radius: 7%; */
    position: relative;
    right: 72%;
    height: 210px;
    display: flex;
}

#profile p {
    margin-top: -60px;
}

.btn {
    /* color: rgb(141, 40, 40); */
    display: flex;
    justify-content: space-around;
    padding: 3px;
    /* border-radius: 10px; */
}

.bio {
    position: absolute;
    right: 72%;
    height: 210px;
    top: 47%;
}

.biotext::after {
    content: 'Bio';
    width: 100%;
    border-bottom: solid 1px #37424A;
    position: absolute;
    left: 0%;
    top: -5;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
    .cards {
        display: block;
        /* height: 150px; */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    .yeartext {
        display: block;
    }
    .barsize {
        width: 100%;
        height: 100%;
    }
    .barcontent {
        background-color: #FFDD00;
        height: 550px;
    }
    /* .happyclients h1{
     display: flex;
   } */
    .yeartext h1 {
        /* font-size: 20px; */
        padding-right: 50px;
        margin-top: 20px;
        /* display: flex; */
        position: relative;
        text-align: center;
    }
    .cards2 {
        position: relative;
        display: block;
        height: 150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .barsize2 {
        width: 100%;
    }
    .rectangle {
        background-color: #FFDD00;
        /* padding: 60px; */
        display: block !important;
        text-align: center;
    }
    .card4 {
        /* margin: 100px; */
        /* padding-bottom: 50px; */
        position: relative;
        left: -60px;
        top: 30px;
    }
    .cardsclients {
        position: relative;
        top: 0;
        width: 400px;
        left: -25px;
    }
    .yeartext2 h1 {
        /* padding-right: 50px; */
        margin-top: 20px;
        width: 100%;
    }
    .yeartext2 .clientssay {
        /* position: relative; */
        /* left: -90px; */
        font-size: 30px;
        font-weight: 900;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
    .yeartext2 span {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        /* padding: 5px; */
        font-weight: 900;
        font-size: 15px;
        position: relative;
        top: -50px;
        left: 50px;
    }
    .heiight {
        position: relative !important;
        height: 500px !important;
    }
}

.moverbutton {
    background-color: #FFDD00;
    border: #FFDD00;
    /* padding: 5px; */
    border-radius: 5px;
    top: -20px;
    position: relative;
    width: 60px;
    left: 100px;
}

.moverbutton2 {
    background-color: #FFDD00;
    border: #FFDD00;
    /* padding: 5px; */
    border-radius: 5px;
    top: -20px;
    position: relative;
    width: 60px;
    left: 250px;
    top: -45px;
}

.button {
    background-color: #FFDD00;
    width: 544px;
    border: #FFDD00;
    border-radius: 5px;
    padding: 5px;
}

.bio p {
    text-align: center;
    padding: 15px;
}

.moverbutton3 {
    background-color: #FFDD00;
    width: 200px;
    border: #FFDD00;
    border-radius: 5px;
}

#col {
    cursor: pointer;
}